# shallow copy (参照渡し) と deep copy (値渡し)

## Numpy

In [1]:
import numpy as np

In [2]:
a = np.arange(5)
b = a # Shallow copy（参照渡し）

print('a =', a)
print('b =', b)

a = [0 1 2 3 4]
b = [0 1 2 3 4]

In [3]:
b[3] = 0
print('a =', a) # aも変化する
print('b =', b)

a = [0 1 2 0 4]
b = [0 1 2 0 4]

In [4]:
from copy import deepcopy

a = np.arange(5)
b = deepcopy(a) # Deep copy（値渡し）

print('a =', a)
print('b =', b)

a = [0 1 2 3 4]
b = [0 1 2 3 4]

In [5]:
b[3] = 0
print('a =', a) # aは変化しない
print('b =', b)

a = [0 1 2 3 4]
b = [0 1 2 0 4]

## Pandas

In [6]:
import pandas as pd

In [7]:
df1 = pd.DataFrame(['a', 'b', 'c']).T #行と列を入れ替える
df1

   0  1  2
0  a  b  c

In [8]:
df2 = df1 # shallow copy（参照渡し）

df2[1] = "apple"
df2

   0      1  2
0  a  apple  c

In [9]:
df1 # df1も変化する

   0      1  2
0  a  apple  c

In [10]:
df1 = pd.DataFrame(['a', 'b', 'c']).T #行と列を入れ替える
df2 = df1.copy() # deep copy (値渡し)

In [11]:
df2[0] = "orange"
df2

        0  1  2
0  orange  b  c

In [12]:
df1 # df1は変化しない

   0  1  2
0  a  b  c