In [1]:
import pandas as pd
df = pd.read_csv("生徒名簿.csv")

In [2]:
# メソッド（関数）
df.head()

   ID  name
0   1  青木太郎
1   2  井上太郎
2   3  上田太郎
3   4  江藤花子
4   5  大塚太郎

In [3]:
df.describe()

             ID
count  20.00000
mean   10.50000
std     5.91608
min     1.00000
25%     5.75000
50%    10.50000
75%    15.25000
max    20.00000

In [4]:
# メンバ(変数)
df.shape

(20, 2)

In [5]:
df.info

<bound method DataFrame.info of     ID   name
0    1   青木太郎
1    2   井上太郎
2    3   上田太郎
3    4   江藤花子
4    5   大塚太郎
5    6    加藤武
6    7   菊池花子
7    8    国元武
8    9   小村花子
9   10   佐藤太郎
10  11   清水花子
11  12   鈴木太郎
12  13   関本太郎
13  14  曽我部太郎
14  15    田中武
15  16   常深花子
16  17   寺内太郎
17  18   新沼太郎
18  19   根元太郎
19  20   野口花子>