# 宿題 3-2

「transaction」と「transction_detail」を結合（ジョイン）して「join_data_1.csv」を保存してください。
結合するときは、「transaction_detail」に”transaction_id”をキーとして「transaction」の"payment_date", "customer_id”を追加してください。
結合前と結合後のデータフレイムの構造（項目数、行数、データ型、欠損値の有無など）を調べてください。
（ヒント）Pandas 「merge」メソッドを使う。

In [1]:
import pandas as pd

In [3]:
transaction = pd.read_csv('transaction.csv')
transaction.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [4]:
transaction_detail = pd.read_csv('transaction_detail.csv')
transaction_detail.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [5]:
join_data_1 = pd.merge(transaction_detail, transaction[["transaction_id", "payment_date", "customer_id"]], on="transaction_id", how="left")
join_data_1.head()

   detail_id transaction_id item_id  quantity         payment_date customer_id
0          0    T0000000113    S005         1  2019-02-01 01:36:57    PL563502
1          1    T0000000114    S001         1  2019-02-01 01:37:23    HD678019
2          2    T0000000115    S003         1  2019-02-01 02:34:19    HD298120
3          3    T0000000116    S005         1  2019-02-01 02:47:23    IK452215
4          4    T0000000117    S002         2  2019-02-01 04:33:46    PL542865

In [6]:
print(len(transaction_detail))
print(len(transaction))
print(len(join_data_1))

7144
6786
7144

In [7]:
join_data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7144 entries, 0 to 7143
Data columns (total 6 columns):
detail_id         7144 non-null int64
transaction_id    7144 non-null object
item_id           7144 non-null object
quantity          7144 non-null int64
payment_date      7144 non-null object
customer_id       7144 non-null object
dtypes: int64(2), object(4)
memory usage: 390.7+ KB

In [8]:
join_data_1.isnull().sum()

detail_id         0
transaction_id    0
item_id           0
quantity          0
payment_date      0
customer_id       0
dtype: int64

In [9]:
join_data_1.to_csv("join_data_1.csv",index=False)