## 宿題８：Pandas の apply関数を使って列ごとや行ごとに関数を適用

「iris_original.csv」を読み込み、以下の操作をしなさい。

(1) 関数 apply() を使って、a1, a2, a3, a4 それぞれの合計と平均を一度で出しなさい。（列の処理）

　（ヒント：np.sum と np.average を用いる）
 
(2) 関数 apply() を使って、各行の a1, a2, a3, a4 の合計を一度に出しなさい。（行の処理）
 
(3) 変数 x を２倍する関数 f(x) を自作して、a1, a2, a3, a4 の値を一度に２倍にしなさい。

(4) lamba を使って、a1, a2, a3, a4 の値を一度に２乗しなさい。

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("iris_original.csv")
df

      a1   a2   a3   a4      id           label
0    5.1  3.5  1.4  0.2    id_1     Iris-setosa
1    4.9  3.0  1.4  0.2    id_2     Iris-setosa
2    4.7  3.2  1.3  0.2    id_3     Iris-setosa
3    4.6  3.1  1.5  0.2    id_4     Iris-setosa
4    5.0  3.6  1.4  0.2    id_5     Iris-setosa
..   ...  ...  ...  ...     ...             ...
145  6.7  3.0  5.2  2.3  id_146  Iris-virginica
146  6.3  2.5  5.0  1.9  id_147  Iris-virginica
147  6.5  3.0  5.2  2.0  id_148  Iris-virginica
148  6.2  3.4  5.4  2.3  id_149  Iris-virginica
149  5.9  3.0  5.1  1.8  id_150  Iris-virginica

[150 rows x 6 columns]

### (1) 関数 apply() を使って、a1, a2, a3, a4 の合計と平均を一度で出しなさい。

In [3]:
df2 = df.loc[:,"a1":"a4"].apply(np.sum)
df2

a1    876.5
a2    458.1
a3    563.8
a4    179.8
dtype: float64

In [4]:
df3 = df.loc[:,"a1":"a4"].apply(np.average)
df3

a1    5.843333
a2    3.054000
a3    3.758667
a4    1.198667
dtype: float64

### (2) 関数 apply() を使って、各行の a1, a2, a3, a4 の合計を一度に出しなさい。

In [5]:
df4 = df.loc[:,"a1":"a4"].apply(np.sum, axis=1)
df4

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [6]:
df5 = df.loc[:,"a1":"a4"].apply(np.sum, axis="columns") #上と同じ
df5

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

### (3) 変数 x を２倍する関数 f(x) を自作して、a1, a2, a3, a4 の値を一度に２倍にしなさい。

In [7]:
def f(x):
    return x * 2

In [8]:
df6 = df.loc[:,"a1":"a4"].apply(f)
df6

       a1   a2    a3   a4
0    10.2  7.0   2.8  0.4
1     9.8  6.0   2.8  0.4
2     9.4  6.4   2.6  0.4
3     9.2  6.2   3.0  0.4
4    10.0  7.2   2.8  0.4
..    ...  ...   ...  ...
145  13.4  6.0  10.4  4.6
146  12.6  5.0  10.0  3.8
147  13.0  6.0  10.4  4.0
148  12.4  6.8  10.8  4.6
149  11.8  6.0  10.2  3.6

[150 rows x 4 columns]

### (4) lamba を使って、a1, a2, a3, a4 の値を一度に２乗しなさい。

In [9]:
df7 = df.loc[:,"a1":"a4"].apply(lambda x: x**2)
df7

        a1     a2     a3    a4
0    26.01  12.25   1.96  0.04
1    24.01   9.00   1.96  0.04
2    22.09  10.24   1.69  0.04
3    21.16   9.61   2.25  0.04
4    25.00  12.96   1.96  0.04
..     ...    ...    ...   ...
145  44.89   9.00  27.04  5.29
146  39.69   6.25  25.00  3.61
147  42.25   9.00  27.04  4.00
148  38.44  11.56  29.16  5.29
149  34.81   9.00  26.01  3.24

[150 rows x 4 columns]